Options +FollowSymlinks
RewriteEngine On

RewriteCond %{HTTP_ACCEPT} ^.*text/turtle.*
RewriteRule ^(.*).html$ /$1.ttl [R=303,L]
RewriteCond %{HTTP_ACCEPT} ^.*application/rdf\+xml.*
RewriteRule ^(.*).html$ /$1.rdf [R=303,L]
